@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.selector{
  display: flexbox;
  text-align: center;
}

.well{
  height: 330px;
  margin-left: 1em;
  margin-top: 1em;
}

.movieTitle{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#movies img, #movie img{
  width:70%;
  margin-top: 3rem;
  alt: "Image Problems ¯\_(ツ)_/¯";
}

#movies .details{
margin-bottom: 3rem;
}

body{
  font-family: 'Quicksand',sans-serif;
}


@media(min-width:960px){

  #movies img, #movie img{
    width:100%;
  }
  
  #movies .col-md-3 .well{
    height: 500px;
  }

  #movies .col-md-3 img{
    height:350px;
  }

  #rmovie{
    display: flexbox;
    text-align: center;
  }
}

#movies .col-md-3 .well{
  height: 450px;
}

#movies .col-md-3 img{
  height:330px;
}

.intro-text{
  font-size: 4vw;
}